<launch>

  <include file="$(find serbot_bringup)/launch/serbot_move_base.launch"/>

  <!-- Tf -->
  <include file="$(find serbot_bringup)/launch/serbot_tf.launch" />

  <!-- Amcl -->
  <include file="$(find serbot_bringup)/launch/amcl.launch" />

  <!-- Odometry from lidar data-->
  <include file="$(find serbot_bringup)/launch/odom_laser.launch" />

  <!--<arg name="map_file" default="$(find serbot_bringup)/maps/map.yaml" />-->

  <!-- Map server-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find serbot_bringup)/maps/map.yaml" >
      <param name="frame_id" value="map" />
  </node>

</launch>

