<launch>

  <include file="$(find serbot_bringup)/launch/test_bringup.launch" />
  <!--<include file="$(find serbot_opencv)/launch/people_detect.launch" />-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find serbot_bringup)/rviz/serbot_navigation.rviz"/>

  <!--<node name="serbot_opencv" pkg="serbot_opencv" type="ros_facedetect_listener.py" output="screen">
    <param name="play_sound_file" value="/home/chuck/Downloads/tts.mp3" />
  </node>-->
</launch>

