<launch>
  <arg name="node_name" default="face_detection" />
  <arg name="use_opencv3" default="false" />
  <arg name="use_opencv3_1" default="false" />
  <arg name="use_opencv3_2" default="false" />
  <arg name="use_opencv3_3" default="$(arg use_opencv3)" />

  <arg name="image" default="image" doc="The image topic. Should be remapped to the name of the real image topic." />

  <arg name="use_camera_info" default="false" doc="Indicates that the camera_info topic should be subscribed to to get the default input_frame_id. Otherwise the frame from the image message will be used." />
  <arg name="debug_view" default="true" doc="Specify whether the node displays a window to show edge image" />
  <arg name="queue_size" default="3" doc="Specigy queue_size of input image subscribers" />

  <arg if="$(arg use_opencv3_1)"
       name="face_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_frontalface_alt.xml" doc="Face dtection cascade Filename" />
  <arg if="$(arg use_opencv3_1)"
       name="eyes_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_eye_tree_eyeglasses.xml" doc="Eye dtection cascade Filename" />
  <arg if="$(arg use_opencv3_2)"
       name="face_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_frontalface_alt.xml" doc="Face dtection cascade Filename" />
  <arg if="$(arg use_opencv3_2)"
       name="eyes_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_eye_tree_eyeglasses.xml" doc="Eye dtection cascade Filename" />
  <arg if="$(arg use_opencv3_3)"
       name="face_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_frontalface_alt.xml" doc="Face dtection cascade Filename" />
  <arg if="$(arg use_opencv3_3)"
       name="eyes_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_eye_tree_eyeglasses.xml" doc="Eye dtection cascade Filename" />
  <arg unless="$(arg use_opencv3)"
       name="face_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_frontalface_alt.xml" doc="Face dtection cascade Filename" />
  <arg unless="$(arg use_opencv3)"
       name="eyes_cascade_name" default="$(find serbot_opencv)/opencv/haarcascades/haarcascade_eye_tree_eyeglasses.xml" doc="Eye dtection cascade Filename" />

  <node name="ros_facedetect" pkg="serbot_opencv" type="ros_facedetect.py" output="screen"/>
  <node name="ros_facedetect_listener" pkg="serbot_opencv" type="ros_facedetect_listener.py" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>
