<launch>

  <arg name="map_file" default="$(find serbot_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <!-- serbot -->
  <include file="$(find serbot_bringup)/launch/serbot_remote.launch">
  </include>

  <param name="/use_sim_time" value="false"/>
  <!--<param name="/use_sim_time" value="true"/>-->

  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

</launch>
