<launch>
  <!-- Arguments -->
  <!--<arg name="configuration_basename" default="serbot_lds_2d.lua"/>-->
  <arg name="open_rviz" default="true"/>

  <!-- serbot -->
  <include file="$(find serbot_bringup)/launch/serbot_remote.launch">
  </include>

  <include file="$(find serbot_slam)/launch/serbot_hector.launch">
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find serbot_slam)/rviz/serbot_hector.rviz"/>
  </group>
</launch>
